---
const props = Astro.props;
---

<div class="max-w-[80%] mx-auto">
  <img class="mx-auto border-4 rounded-md border-slate-200 dark:brightness-75" {...props} />
  <div class="flex justify-center text-sm text-slate-500">{props.alt}</div>
</div>