---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import ProjectPage from '@/layouts/ProjectPage.astro';

import * as projectMdxComponents from '@/components/react/ProjectMdxComponents'
import ProjectHeader from '@/components/ProjectHeader.astro';

export async function getStaticPaths() {
	const posts = await getCollection('project');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'project'>;

const post = Astro.props;
const { Content } = await render(post);
---

<ProjectPage {...post.data}>
  <ProjectHeader title={post.data.title} projectId={post.id} />
  <div class="p-4 pb-16">
	  <Content components={{ ...projectMdxComponents }} />
  </div>
</ProjectPage>
