---
import { type CollectionEntry, getCollection, render } from 'astro:content';
import ProjectPage from '@/layouts/ProjectPage.astro';
import ProjectHeader from '@/components/ProjectHeader.astro';
import * as blogComponents from '@/components/blogComponents'

export async function getStaticPaths() {
	const posts = await getCollection('project');
	return posts.map((post) => ({
		params: { slug: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'project'>;

const post = Astro.props;
const { Content } = await render(post);
---

<ProjectPage {...post.data} title={`Project: ${post.data.title}`}>
  <ProjectHeader title={post.data.title} projectId={post.id} />
  <div class="p-4 pb-16">
	  <p>TODO: List of associated blog posts</p>
		<p>TODO: Link to releases</p>
		<Content components={{ ...blogComponents }} />
  </div>
</ProjectPage>
