@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}


body {
  color: rgb(var(--foreground-rgb));
  background-image: url(/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  height: 100vh;
  width: 100vw;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .main-bg {
    clip-path: polygon(
      0 0,
      720px 0,
      540px 100%,
      0 100%
    );
  }

  .main-bg.navigating {
    clip-path: polygon(
      21.875vw 50px,
      78.125vw 50px,
      78.125vw calc(100vh - 50px),
      21.875vw calc(100vh - 50px)
    );
  }
  .main-placeholder {
    position: absolute;
    z-index: -1;
    width: 56.25vw;
    height: calc(100vh - 100px);
    left: 21.875vw;
    top: 50px;
    background-color: #fff;
  }
  .main-min-size {
    min-height: calc(100vh - 100px);
  }
  .headshot {
    background-size: cover;
    background-image: url("/face-low.jpg");
    background-image: image-set(
      url("/face-low.jpg") 1x,
      url("/face-regular.jpg") 2x,
      url("/face-retina.jpg") 3x
    );
  }
}