---
import GithubIcon from "@/components/react/icons/GithubIcon";
import MailIcon from "@/components/react/icons/MailIcon";
import BlueskyIcon from "@/components/react/icons/BlueskyIcon";
import LinkedinIcon from "@/components/react/icons/LinkedinIcon";
import ContentPage from "@/layouts/ContentPage.astro";

---

<ContentPage title={"Surging Forward | Contact"} description={"Various methods to contact me or find my things"}>
  <div class="p-4">
    <h1 class="text-3xl pb-4">Contact Derek Surguy</h1>
    <p class="py-2">Below you can find a collection of places I have an online presence.</p>
    <p class="py-2">I vastly prefer email to all other forms of communication, so please try that first!</p>
    <p class="pt-2">If you're a junior or mid-level developer, I'd be happy to offer reviews and knowledge if you're looking for help growing your skills.</p>
    
    <div class="sm:flex bg-slate-200 rounded-md mt-8">
      <div class="bg-slate-300 basis-20 flex justify-center sm:justify-start sm:flex-col items-center rounded-md pt-2 pb-2 sm:pt-0">
        <div class="text-lg mr-2 sm:m-0">Email</div>
        <MailIcon className="w-6 h-6 sm:w-8 sm:h-8" />
      </div>
      <div class="text-2xl md:text-3xl py-4 lg:py-0 flex items-center justify-center grow text-center">
        Surguy.Derek@startmail.com
      </div>
    </div>
    
    <div class="sm:flex bg-slate-200 rounded-md mt-4">
      <div class="bg-slate-300 basis-20 flex justify-center sm:justify-start sm:flex-col items-center rounded-md pt-2 pb-2 sm:pt-0">
        <div class="text-lg mr-2 sm:m-0">Github</div>
        <GithubIcon className="w-6 h-6 sm:w-8 sm:h-8" />
      </div>
      <div class="text-2xl md:text-3xl py-4 lg:py-0 flex items-center justify-center grow text-center">
        <a href="https://github.com/DSurguy" class="underline">https://github.com/DSurguy</a>
      </div>
    </div>

    <div class="sm:flex bg-slate-200 rounded-md mt-4">
      <div class="bg-slate-300 basis-20 flex justify-center sm:justify-start sm:flex-col items-center rounded-md pt-2 pb-2 sm:pt-0">
        <div class="text-lg mr-2 sm:m-0">BlueSky</div>
        <BlueskyIcon className="w-6 h-6 sm:w-8 sm:h-8" />
      </div>
      <div class="text-xl md:text-2xl py-4 lg:py-0 flex items-center justify-center grow text-center">
        https://bsky.app/profile/dsurguy.surgingforward.net
      </div>
    </div>

    <div class="sm:flex bg-slate-200 rounded-md mt-4">
      <div class="bg-slate-300 basis-20 flex justify-center sm:justify-start sm:flex-col items-center rounded-md pt-2 pb-2 sm:pt-0">
        <div class="text-lg mr-2 sm:m-0">LinkedIn</div>
        <LinkedinIcon className="w-6 h-6 sm:w-8 sm:h-8" />
      </div>
      <div class="text-xl md:text-2xl py-4 lg:py-0 flex items-center justify-center grow text-center">
        <a href="https://www.linkedin.com/in/dsurguy/" class="underline">https://www.linkedin.com/in/dsurguy/</a>
      </div>
    </div>
  </div>
</ContentPage>