---
import { Image } from 'astro:assets';
import  * as blogComponents from '@/components/blogComponents';
import { frontmatter, Content } from '../content/standalone/resume.mdx'

import ContentPage from '../layouts/ContentPage.astro';
import GithubIcon from '../components/icons/GithubIcon.astro'
import MailIcon from '../components/icons/MailIcon.astro'

import Headshot from '../assets/face-regular.jpg'
---

<ContentPage title={frontmatter.title} description={frontmatter.description}>
  <a href="/resume.pdf" class="block m-4 underline">Download PDF</a>
  <div class="relative h-[160px] mb-2 m-8 print:hidden">
    <div class="absolute w-[160px] h-[160px] rounded-full bg-teal-800 border-teal-800 border-2 z-20 overflow-hidden">
      <Image src={Headshot} alt="A headshot of myself" />
    </div>
    <div class="bg-teal-800 text-white text-2xl flex h-[40px] w-[250px] rounded-r-full absolute z-10 top-0 left-[80px] justify-end items-center">
      <h1 class="mr-4 mt-[-2px]">Derek Surguy</h1>
    </div>
    <div class="bg-teal-800 text-white flex h-[32px] w-[320px] rounded-r-full absolute z-10 bottom-[40px] left-[120px] justify-end items-center">
      <a href="https://github.com/DSurguy" class="underline mr-2 mt-[-2px]">https://github.com/DSurguy</a>
      <GithubIcon className="mr-4" />
    </div>
    <div class="bg-teal-800 text-white flex h-[32px] w-[320px] rounded-r-full absolute z-10 bottom-0 left-[80px] justify-end items-center">
      <a href="mailto:Surguy.Derek@gmail.com" class="underline mr-2 mt-[-2px]">Surguy.Derek@gmail.com</a>
      <MailIcon className="mr-4" />
    </div>
  </div>
  <div class="hidden print:flex justify-evenly py-2 border-slate-800 border m-2 ">
    <h1 class="font-bold">Derek Surguy</h1>
    <div>|</div>
    <div><a href="https://github.com/DSurguy">https://github.com/DSurguy</a></div>
    <div>|</div>
    <div>Surguy.Derek@startmail.com</div>
  </div>
  <div class="p-4 print:pt-0 -mt-2">
    <Content components={{
      ...blogComponents
    }} />
  </div>
</ContentPage>