@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .main-bg {
    position: absolute;
    top: 80px;
    height: 300px;
    width: 100%;
  }

  @media (min-width: 768px) {
    .main-bg {
      position: absolute;
      top: 160px;
      height: 260px;
      width: 100%;
    }
  }

  @media (min-width: 1024px) {
    .main-bg {
      position: fixed;
      top: 0;
      left: 0;
      width: 800px;
      height: 100vh;
      clip-path: polygon(
        0 0,
        800px 0,
        600px 100%,
        0 100%
      );
    }
  }
}