---
import BaseHead from "@/components/BaseHead.astro";
import Body from "@/components/Body.astro";

const { title, description } = Astro.props
---
<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} />
  </head>
  <Body><slot /></Body>
</html>