.pageContainer {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 0;
  flex-basis: 240px;
  min-height: 100vh;
  background-color: #0C1A1D;
  color: #fff;
}

.mainContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.main {
  padding: 2rem;
  flex: 1;
}