.pageContainer {
  min-height: 100vh;
  display: flex;
}

.sidebar {
  flex: 0;
  flex-basis: 240px;
  min-height: 100vh;
  background-color: #0C1A1D;
  color: #fff;
}

.mainContainer {
  flex: 1;
}

.main {
  flex: 1;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer {}